* {
  margin: 0;
  padding: 0
}

body {
  color: #DCDCDC;
  background-color: #23252C;
  min-height: 100vh;
  box-sizing: border-box;
  width: 317px;
  margin: 0 auto;
  margin-top: 50px;

  font-family: 'Inter', sans-serif;
}



.container {
  background-color: #1A1B21;
}

.dival {
  text-align: center;

}


.title {
  color: white;
  font-size: 25px;
  margin-bottom: 3px;
}

.dival>p {
  color: #F3BF99;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;

}

.dival>button {
  height: 34px;
  width: 247px;
  left: 151px;
  top: 469px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #D1D5DB;
  line-height: 16px;



}
img {
  width: 317px;
height: 317px;
  border-radius:10px 10px 0 0;
  margin-bottom: 15px;
}
.about-tit {

padding:  0px  20px 5px 20px;
  font-weight: 700;



  color: #F5F5F5;
}



.about>p {


  padding:  2px  20px 5px 20px;;
  font-size: 10.5px;
  margin-bottom:19px ;
line-height: 15px;


}

.inter-tit {
  padding:  2px  20px 5px 20px;


  color: #F5F5F5;
}

.inter>p {
  font-size: 14px;
  padding:  2px  20px 20px 20px;;
  font-size: 10.5px;
  line-height: 16px;
  margin-bottom: 10px;
}

.footer-t{
  font-size: 20px;
  padding: 10px;
  background-color:  #161619;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  height: 30px;
}

.font{
  margin-top: 6px;
  padding: 0px 15px;
 
}
.git{
  height: 25px;
  width: 25px;
  padding: 0  15px;

}